$background: url('~@/assets/img/bg.png');

//colors
$blue: #003c8b;
$blue-light: #0e9dec;
$white: #ffffff;
$black: #393737;
$orange: #ff7c37;
$yellow: #f7b629;
$gray: #E4E4E4;
$gray-dark: #808080;
$gray-medium-dark: darken($gray-dark, 15%);
$gray-very-dark: #444444;
$gray-darkest: darken($gray-very-dark, 5%);
$gray-light: lighten($gray, 5%);
$gray-very-light: lighten($gray, 8%);
$red: #f44336;
$green: #4CAF50;

//text
$text-color: $black;
$font-family: 'Roboto Mono';

//breakpoints
$small: 700px;